{% import "flash_messages.twig" as flasher %}
{% import 'navbar.twig' as navbar %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!-- jQuery UI -->
		<script src="https://code.jquery.com/ui/1.12.1/themes/dark-hive/jquery-ui.css"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- GSAP -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/jquery.gsap.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js"></script>
		<script src="library/velocity.js"></script>
		<script src="library/ScrollMagic/ScrollMagic.js"></script>
		<script src="library/ScrollMagic/plugins/animation.gsap.js"></script>
		<script src="library/ScrollMagic/plugins/animation.velocity.js"></script>
		<script src="library/ScrollMagic/plugins/debug.addIndicators.js"></script>
		<script src="library/ScrollMagic/plugins/jquery.ScrollMagic.js"></script>
		<!-- PWStrength -->
		<script src="library/pwstrength/pwstrength.min.js"></script>
		<!-- stripe -->
		<script src="https://js.stripe.com/v3/"></script>
		<!-- custom css -->
		<link rel="stylesheet/less" href="stylesheets/style.less" type="text/css" />
		<link rel="stylesheet" href="stylesheets/forms.css" type="text/css" />	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
		<script>
			var controller = new ScrollMagic.Controller();
			$(()=>{
				$("[title]").tooltip();
				var pwoptions = {
					ui: {
						progressBarEmptyPercentage: 10,
						progressBarMinPercentage: 10,
						showVerdictsInsideProgressBar: true,
						scores: [10, 20, 30, 40, 50]
					}
				}
				$(".pwstrength").pwstrength(pwoptions);
				//
				//
				//
				//Animations up here
				//
				//
				//
				//
				//First do carousel
				//
				var tl = new TimelineMax({repeat: -1});
				var transitionTime = 3;
				$("#main-carousel .slide").each(function(i,e){
					var l = "l" + i;
					tl.add(l, "+=5");
					tl.to(e, transitionTime, {className: "-=active"}, l);
					if ($("#main-carousel .slide").last()[0] === this){
						tl.to($(e).parent().children()[0], transitionTime, {className: "+=active"}, l);
					}
					else{
						tl.to($(e).next(), transitionTime, {className: "+=active"}, l);
					}
				});

				//
				//
				//
				//
				//
				//List animation
				//
				var tl = new TimelineMax({repeat: -1});
				var transitionTime = 1;
				$("#what-we-do-row li").each(function(i, e){
					var l = "l" + i;
					tl.add(l, "+=2");
					tl.to(e, transitionTime, {className: "-=active"}, l);
					if ($("#what-we-do-row li").last()[0] === this){
						tl.to($(e).parent().children()[0], transitionTime, {className: "+=active"}, l);
					}
					else{
						tl.to($(e).next(), transitionTime, {className: "+=active"}, l);
					}
				});

				//
				//
				//
				//Navbar animation
				var navbarAnimation;
				$(".navbar-collapse li").on( "mouseover",
					function(){
						navbarAnimation = new TimelineMax();
						navbarAnimation.to(
							$(this).find(".nav-link-fill"), 
							.1, 
							{
								opacity: 1, 
								height: "100%",
							}
						);
					}).on("mouseout",
					function(){
						navbarAnimation.reverse();
					}
				);
				
			});


			$(window).on("load", function(){
				//When everything's done, remove the loading gif and display the content
				$("#container").removeClass("display-none");
				$("#loading-img-container").remove();
				setTimeout(function(){
					//Hacky style fix
					var circleContainerWidth = $(".circle-container").width(); //C container width in pixels
					var circleOffset = 30; //In percent!!!!!!
					var circleOffsetPx = circleContainerWidth * circleOffset / 100; //circle offset in px
					var circleRadius = circleContainerWidth - 2 * circleOffsetPx;
					$(".circle-container, .circle").css("height", circleRadius + "px");
				}, 0);
			});
		</script>
	{% endblock %}
</head>
<body>
	<div id="loading-img-container">
		<img 
			id="loading-img"
			src="img/loading.gif"
		/>
	</div>
	<div class="container-fluid display-none" id="container">
		<div  id="content">
		{% block header %}
			<!--
			<div class="row display-none" id="main-header">
				<img class="img-responsive col-xs-2" 
					src="http://stockpictures.io/wp-content/uploads/2016/06/42471-cube-box-shape-concept-abstract-3d-block-creative-element-group-geometric-symbol-presentation-structure-decor.png"/>
				<h2 class="col-xs-10">Basics Credit</h2>
			</div>
		-->
			<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">
			      	Basics Credit
			      </a>
			    </div>
			    <div class="collapse navbar-collapse" id="navbar-collapse">
			      <ul class="nav navbar-nav navbar-right">
			      	{{ navbar.link("Home", "/") }}
			      	{{ navbar.link("Contact", "/#contact-row") }}
			        {% if current_user %}
			        	{{ navbar.link("Dispute Letters", "/dispute_letters") }}
			        {% endif %}
			        {{ navbar.link("Rights", "/rights") }}
			        {% if current_user == false %}
			        	{{ navbar.link("Sign Up", "/#sign-up-log-in-row") }}
			        	{{ navbar.link("Log In", "/#sign-up-log-in-row") }}
				    {% endif %}
				    {% if current_user %}
				    	{{ navbar.link("Log Out", "logOut") }}
				    {% endif %}  
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			<span class="animation-trigger" id="navbar-animation-trigger"></span>
		{% endblock %}
		<div id="body-content" class="container-fluid">
			{% block flasher %}
				{% if flash_messages %}
					<div class="row" id="flash-messages">
						<div class="col-md-6 col-md-offset-3 col-xs-12">
							{% for type, message in flash_messages %}
								{{ flasher.flash(type, message) }}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endblock %}

			{% block content %}
			{% endblock %}
		

		</div>
		{% block footer %}
			<div id="footer" class="row">
				<div class="col-xs-12 text-center">&copy;{{"now"|date("Y")}} All Rights Reserved, Basics Credit</div>
				<div class="col-xs-12 text-center">Website by <a href="https://pereliwebworks.com">Drew Pereli</a></div>
			</div>
		{% endblock %}
		</div>
	</div>
</body>
</html>