{% import "flash_messages.twig" as flasher %}
{% import 'navbar.twig' as navbar %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5b7dd5">
		<meta name="theme-color" content="#ffffff">
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Basics Credit</title>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!-- jQuery UI -->
		<script src="https://code.jquery.com/ui/1.12.1/themes/dark-hive/jquery-ui.css"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- GSAP -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/jquery.gsap.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js"></script>
		<script src="library/velocity.js"></script>
		<script src="library/ScrollMagic/ScrollMagic.js"></script>
		<script src="library/ScrollMagic/plugins/animation.gsap.js"></script>
		<script src="library/ScrollMagic/plugins/animation.velocity.js"></script>
		<script src="library/ScrollMagic/plugins/debug.addIndicators.js"></script>
		<script src="library/ScrollMagic/plugins/jquery.ScrollMagic.js"></script>
		<!-- PWStrength -->
		<script src="library/pwstrength/pwstrength.min.js"></script>
		<!-- stripe -->
		<script src="https://js.stripe.com/v3/"></script>
		<!-- bing translate -->
		<script src="https://www.microsoftTranslator.com/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=false&ui=false" type="text/javascript"></script>
		<!-- custom css -->
		<link rel="stylesheet/less" href="stylesheets/style.less" type="text/css" />
		<link rel="stylesheet" href="stylesheets/forms.css" type="text/css" />	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
		<script>
			var controller = new ScrollMagic.Controller();

			//If logged in, after 20 minutes, log the user out
			{% if current_user %}
				setTimeout(function(){
					window.location = "/logOut?reason=sessionExpired";
				}, 1000 * 60 * 20);
			{% endif %}


			$(function(){
				window.addEventListener("hashchange", function() { scrollBy(0, -64) });

				$("[title]").tooltip();


				var pwoptions = {
					ui: {
						progressBarEmptyPercentage: 10,
						progressBarMinPercentage: 10,
						showVerdictsInsideProgressBar: true,
						scores: [10, 20, 30, 40, 50]
					}
				}
				$(".pwstrength").pwstrength(pwoptions);

				$(".alert-close").click(function(){
					$("#flash-messages").remove();
				})
				//
				//
				//
				//Animations up here
				//
				//
				//
				//
				//First do carousel
				//
				var tl = new TimelineMax({repeat: -1});
				var transitionTime = 3;
				$("#main-carousel .slide").each(function(i,e){
					var l = "l" + i;
					tl.add(l, "+=5");
					tl.to(e, transitionTime, {className: "-=active"}, l);
					if ($("#main-carousel .slide").last()[0] === this){
						tl.to($(e).parent().children()[0], transitionTime, {className: "+=active"}, l);
					}
					else{
						tl.to($(e).next(), transitionTime, {className: "+=active"}, l);
					}
				});

				//
				//
				//
				//
				//
				//List animation
				//
				var tl = new TimelineMax({repeat: -1});
				var transitionTime = 1;
				$("#what-we-do-row li").each(function(i, e){
					var l = "l" + i;
					tl.add(l, "+=2");
					tl.to(e, transitionTime, {className: "-=active"}, l);
					if ($("#what-we-do-row li").last()[0] === this){
						tl.to($(e).parent().children()[0], transitionTime, {className: "+=active"}, l);
					}
					else{
						tl.to($(e).next(), transitionTime, {className: "+=active"}, l);
					}
				});

				//
				//
				//
				//Navbar animation
				var navbarAnimation;
				$(".navbar-collapse li").on( "mouseover",
					function(){
						navbarAnimation = new TimelineMax();
						navbarAnimation.to(
							$(this).find(".nav-link-fill"), 
							.15, 
							{
								opacity: 1, 
								height: "100%",
							}
						);
					}).on("mouseout",
					function(){
						navbarAnimation.reverse();
					}
				);


				//Fallback in case maxlength attribute isn't supported
				$("input[maxlength]").keydown(function(e){
					var maxlength = ~~$(this).attr("maxlength");
					if ($(this).val().length > maxlength) { 
				        $(this).val($(this).val().substr(0, maxlength));
				    }
				});

				$("input[maxlength]").keyup(function(e){
					var maxlength = ~~$(this).attr("maxlength");
					if ($(this).val().length > maxlength) { 
				        $(this).val($(this).val().substr(0, maxlength));
				    }
				});
				/*
				//
				//
				//
				//Zip code entry restriction
				$('.zip-code-input').keydown( function(e){
				    if ($(this).val().length >= 5) { 
				        $(this).val($(this).val().substr(0, 5));
				    }
				});

				$('.zip-code-input').keyup( function(e){
				    if ($(this).val().length >= 5) { 
				        $(this).val($(this).val().substr(0, 5));
				    }
				});
				*/

				//Video stuff
				$("video").click(function(){
					if ($(this).hasClass("playing")){
						var v = $(this)[0];
						$(v).removeClass("playing").addClass("paused");
						$(v).parent().find(".play-btn-container").removeClass("display-none");
						v.pause();
					}
				});

				$(".play-btn").click(function(){
					var v = $($(this).data("toggles"))[0];
					$(v).removeClass("paused").addClass("playing");
					$(this).parent().addClass("display-none");
					v.play();
				});


				//Translate stuff
				//Circle titles (which won't translate dynamically)
				var circleTitles = [
					{
						en: "Once you have successfully pulled your credit report, you will begin the review process. You will look for collections accounts,  errors, false information, miscalculations, and so on. There is a good chance that errors will be found on your report, since about 25% of credit reports contain mistakes.",
						es: "Una vez que haya sacado con éxito su informe de crédito, comenzará el proceso de revisión. Buscará cuentas de colecciones, errores, información falsa, errores de cálculo, etc. Hay una buena probabilidad de que se encuentren errores en su informe, ya que aproximadamente el 25% de los informes de crédito contienen errores."
					},
					{
						en: "After reviewing your credit report,  we'll begin to dispute the questionable items on your credit report. According to the Fair Credit Reporting Act, the credit bureaus are obligated to read and respond to every letter that they receive, so you will receive response  correspondence letters typically within 30 days of our dispute.",
						es: "Después de revisar su informe de crédito, comenzaremos a disputar los elementos cuestionables en su informe de crédito. De acuerdo con la Fair Credit Reporting Act, las agencias de crédito están obligadas a leer y responder a cada carta que reciben, por lo que recibirá cartas de correspondencia de respuesta normalmente dentro de los 30 días de nuestra disputa."
					},
					{
						en: "Within only 30-60 days, you will begin seeing results on your credit report due to the effectiveness of our disputing process. Meanwhile, our friendly customer service staff will provide you with constant notifications about which items are being removed, and any changes that are happening to your credit report. Once the process is complete and your negative items are removed, you can then begin establishing new credit.",
						es: "Dentro de sólo 30-60 días, comenzará a ver resultados en su informe de crédito debido a la eficacia de nuestro proceso de contestación. Mientras tanto, nuestro amable personal de servicio al cliente le proporcionará notificaciones constantes sobre qué artículos se eliminan y cualquier cambio que esté ocurriendo en su informe de crédito. Una vez que el proceso es completo y sus artículos negativos se quitan, usted puede entonces comenzar a establecer nuevo crédito."
					}
				]
				var currentLang = "en";
				$("#translate-btn").click(function(){
					currentLang = currentLang === "en" ? "es" : "en";
					if(currentLang === "es")
					{
						Microsoft.Translator.Widget.Translate(null, currentLang, 
							function(prog){
								Microsoft.Translator.Widget.domTranslator.showHighlight = false;
								Microsoft.Translator.Widget.domTranslator.showTooltips = false;
							},// On progress
							null, //On error 
							function(){//On complete
								$("#lang").html(currentLang === "es" ? "Inglés" : "Spanish");
								Microsoft.Translator.Widget.domTranslator.showHighlight = false;
								Microsoft.Translator.Widget.domTranslator.showTooltips = false;
							},
							function(){ //On restore original
								restoreOriginal();
							}
						);
						$(".circle > span > a").each(function(i, e){
							$(e).attr("title", circleTitles[i][currentLang]);
						});
						$(".circle > span > a").tooltip("fixTitle");
					}
					else if (currentLang === "en"){
						Microsoft.Translator.Widget.RestoreOriginal();
						restoreOriginal();
					}
					



					function restoreOriginal(){
						currentLang = "en";
						//Set the titles of the circles to the proper language
						$(".circle > span > a").each(function(i, e){
							$(e).attr("title", circleTitles[i][currentLang]);
						});
						$(".circle > span > a").tooltip("fixTitle");
					}
					
				});



			});


			$(window).on("load", function(){
				//When everything's done, remove the loading gif and display the content
				$("#container").removeClass("display-none");
				$("#loading-img-container").remove();
			});
		</script>
	{% endblock %}
</head>
<body>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-98620115-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<div id="loading-img-container">
		{% include "loading_spinner.twig" %}
	</div>

	{% block modals %}{% endblock %}
		
	<div class="container-fluid display-none" id="container">
		<div  id="content">
		{% block header %}
			<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/">
			      	<img src="img/logo.png" class="logo"/>
			      	<span>Basics Credit</span>
			      </a>
			    </div>
			    <div class="collapse navbar-collapse" id="navbar-collapse">
			      <ul class="nav navbar-nav">
			      	<li>
			      		<a href="#" id="translate-btn">Translate to <span id="lang">Spanish</span></a>
			      	</li>
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			      	{{ navbar.link("Home", "/") }}
			      	{{ navbar.link("How It Works", "/how_it_works") }}
			      	{{ navbar.link("FAQ", "/FAQ") }}
			        {% if current_user %}
			        	{{ navbar.link("Make a Payment", "/make_payment") }}
			        	{{ navbar.link("Dispute Letters", "/dispute_letters") }}
			        {% endif %}
			        {{ navbar.link("Rights", "/rights") }}
			        {% if current_user == false %}
			        	{{ navbar.link("Sign Up", "/#sign-up") }}
			        	{{ navbar.link("Log In", "/#log-in") }}
				    {% endif %}
				    {{ navbar.link("Contact", "/#contact-row") }}
				    {% if current_user.role == 1 %}
				    	{{ 
				    		navbar.submenu(
				    			"Admin", 
				    			[
				    				{text:"Users", href:"/users"}, 
				    				{text:"Analytics", href:"https://analytics.google.com/analytics/web/?authuser=0#report/visitors-overview/a98620115w145097281p149806506/", target: "_blank"}
				    			]
				    		) 
				    	}}
				    {% endif %}
				    {% if current_user %}
				    	{{ navbar.link("Log Out", "logOut") }}
				    {% endif %}  
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			<span class="animation-trigger" id="navbar-animation-trigger"></span>
		{% endblock %}
		<div id="body-content" class="container-fluid">
			{% block flasher %}
				{% if flash_messages %}
					<div class="row" id="flash-messages">
						<div class="col-md-6 col-md-offset-3 col-xs-12">
							{% for type, message in flash_messages %}
								{{ flasher.flash(type, message) }}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endblock %}
			
			{% block content %}
			{% endblock %}

		</div>
		{% block footer %}
			<div id="footer" class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div>
						<b>THE SERVICES PROVIDED VIA USE OF BASICS CREDIT PROGRAM MAY NOT BE AVAILABLE TO RESIDENTS OF ALL STATES.</b>
					</div>
					<div>
						<b>INFORMATION WHICH IS ACCURATE, VERIFIABLE AND NON-MISLEADING CANNOT BE REMOVED.</b>
					</div>
					<div>
						* The testimonials and results provided are for illustrative purposes only.
						As with any legal work, no outcome is promised and your results may vary.
					</div>
					<div>
						** Terms and Conditions Apply, see our Promise Page for a detailed explanation of our performance based Refund Policy.
					</div>
					<div>
						*** If eligible for a full refund client is not liable for any costs. 
					</div>
					<div>
						This is a Solicitation and Advertisement for services offered by Basics Credit
					</div>
					<div>
						Fees collected only after the agreed upon work has been performed.
						The Equifax, TransUnion and Experian logos are all trademarks of their respective owners. 
					</div>
				</div>
				<div class="col-xs-12">&nbsp;</div>
				<div class="col-xs-12">&nbsp;</div>
				<div class="col-xs-12 text-center">&copy;{{"now"|date("Y")}} All Rights Reserved, Basics Credit</div>
				<div class="col-xs-12 text-center">Website by <a href="https://pereliwebworks.com">Drew Pereli</a></div>
				<div class="col-xs-12">&nbsp;</div>
				<div class="col-xs-12">&nbsp;</div>
			</div>
		{% endblock %}
		</div>
	</div>
</body>
</html>