{% extends 'page.twig' %}
{% import 'form_fields.twig' as field %}

{% block modals %}
	<div class="modal fade" id="confirmation_modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Before you sign up...</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="">
	      		When disputing items on your credit report the first thing you need to do is obtain a copy of your credit report. The best way to accomplish this is to order a free one from <a href="http://www.annualcreditreport.com">http://www.annualcreditreport.com</a>. Please make sure you complete this step before signing up.
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" id="sign-up-btn">Sign Up</button>
	        <script>
	        	$("#sign-up-btn").click(function(){
	        		$("#sign-up-form").submit();
	        	});
	        </script>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block content %}

	<div class="row" id="video-row">
		<video src="videos/header-video.mp4" class="paused" id="header_video"></video>
		<div class="play-btn-container">
			<img src="img/play_icon.png" class="play-btn" data-toggles="#header_video"/>
		</div>
	</div>
	
	{% if current_user == false %}
		<div class="row" id="get-started-row">
			<div class="col-xs-12 col-md-4 text-center"><h3>Get Started</h3></div>
			<div class="col-xs-12 col-md-4 text-center"><h4>It's Easy</h4></div>
			<div class="col-xs-12 col-md-4 text-center">
				<a href="#sign-up" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 btn btn-success btn-lg"><b>Sign Up</b></a>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<h1 class="text-center">How it works</h1>
			<div>&nbsp;</div>
			<div class="circle-container xs-hidden">
				<span class="circle text-center">
					<span>
						<a href="#" data-html="true"
							title="Once you have successfully pulled your credit report, you will begin the review process. 
				You will look for collections accounts,  errors, false information, miscalculations, and so on. 
				There is a good chance that errors will be found on your report, since about 25% of credit reports contain mistakes."
						>
							Review
						</a>
					</span>
				</span>
				<span class="circle text-center">
					<span>
						<a href="#" data-html="true"
							title="After reviewing your credit report,  we'll begin to dispute the questionable items on your credit report. According to the Fair Credit Reporting Act, the credit bureaus are obligated to read and respond to every letter that they receive, so you will receive response  correspondence letters typically within 30 days of our dispute."
						>
							Resolve
						</a>
					</span>
				</span>
				<span class="circle text-center">
					<span>
						<a href="#" data-html="true"
							title="Within only 30-60 days, you will begin seeing results on your credit report due to the effectiveness of our disputing process. Meanwhile, our friendly customer service staff will provide you with constant notifications about which items are being removed, and any changes that are happening to your credit report. Once the process is complete and your negative items are removed, you can then begin establishing new credit."
						>
							Results
						</a>
					</span>
				</span>
			</div>
			<div>&nbsp;</div>
			<div class="col-xs-12 hidden-md hidden-lg">
				<ul id="instructions-ul">
					<li>Get your full credit report.</li>
					<li>Send our professional letters.</li>
					<li>Watch your credit improve.</li>
				</ul>
			</div>
			<div>&nbsp;</div>
			{% if current_user == false %}
				<div class="col-xs-12 col-md-6 col-md-offset-3" id="instructions">
					The only thing you need before <a href="#sign-up">signing up</a> is your credit report.
					Once you have it, you can sign up with Basics Credit and start contesting your credit claims.
				</div>
			{% endif %}
		</div>
	</div>
	<div>&nbsp;</div><div>&nbsp;</div>
	<div class="row text-center" id="credit-consultation-row">
		<h2>Free <b>Credit Consultation</b></h2>
		<h3>Fill out our quick non-obligation form below and have an agent contact you.</h3>
		<h3>You can also call us at: 1-800-215-7211</h3>
		<div>&nbsp;</div>
	</div>
	<div class="row" id="our-guarantee-row">
		<h2 class="text-center col-xs-12">Our Guarantee</h2>
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h3 class="text-center">You will never pay more than $156!</h3>
			<div class="">
			<br/>
			This includes the ${{ sign_up_price|number_format(2) }} setup, plus ${{ monthly_price|number_format(2) }} for three rounds of credit dispute services if necessary.
			<br/><br/>
			We will continue to dispute all Negative Items until every one is eliminated or they are no longer relevant or required to be removed by the Client.
			<br/><br/>
			If the Negative Items are not removed by our third round of challenges, we will dispute them to all channels and repeatedly until they are removed, or for 12 Months, whichever comes first.
			</div>
		</div>
	</div>
	<div class="row" id="link-row">
		<div class="col-xs-12 col-md-4 text-center">
			<a href="/how_it_works" class="btn btn-success"><b>About</b></a>
		</div>
		<div class="col-xs-12 col-md-4 text-center">
			<a href="/FAQ" class="btn btn-success"><b>FAQ</b></a>
		</div>
		<div class="col-xs-12 col-md-4 text-center">
			<a href="/rights" class="btn btn-success"><b>Rights</b></a>
		</div>
	</div>
	<div class="row" id="what-we-do-row">
			<h2 class="text-center col-xs-12">What we can help you with</h2>
			<ul class="col-md-6 col-xs-12">
				<li class="active">Requesting validation of your credit.</li>
				<li>XDeltion letters.</li>
				<li>Threaten your collection agency with a lawsuit.</li>
				<li>See if your collection agency has violated HIPPA.</li>
				<li>Section 609 Verification.</li>
			</ul> 
			<img class="col-md-6 col-xs-12 img-responsive" src="img/piechart.png" />
	</div>
	<div class="row text-center" id="certified-row">
		<span class="col-md-8 col-xs-12">
			<h1>
				100% certified credit repair 
				<span class="hidden-xs hidden-sm">professionals</span>
				<span class="hidden-md hidden-lg">pros</span>
			</h1>
			<h3>at your service</h3>
		</span>
		<img class="col-md-2 col-md-offset-1 hidden-xs hidden-sm img-responsive" 
			src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Gold_seal_policy_v4.svg/455px-Gold_seal_policy_v4.svg.png" />
	</div>
	{% if current_user == false %}
		<div class="row" id="sign-up-log-in-row">
			<div class="col-xs-12 col-md-4 col-md-offset-1" id="sign-up">
				<h4>Sign Up</h4>
				<form class="bs-form" action="signUp.php" method="POST" id="sign-up-form">
					{{ field.text({name:"first_name", value:post_data.first_name, id:"sign_up_first_name"}) }}
					{{ field.text({name:"last_name", value:post_data.last_name, id:"sign_up_last_name"}) }}
					{{ field.text({name:"email", type:"email", value:post_data.email, id:"sign_up_email"}) }}
					{{ field.password }}
					{{ field.password_confirmation }}
					{{ field.text({name:"heard_through", label:"How did you hear about us?"}) }}
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmation_modal">
					  Sign Up
					</button>
				</form>
			</div>
			<div class="col-xs-12 col-md-4 col-md-offset-2" id="log-in">
				<h4>Log In</h4>
				<form class="bs-form" action="logIn.php" method="POST">
					{{ field.text({name:"email", type:"email", value:post_data.email, id:"log_in_email"}) }}
					{{ field.text({name:"password", type:"password", id:"log_in_password"}) }}
					{{ field.submit("Log In") }}
					<div>
						<a href="password_reset">Forgot your password?</a>
					</div>
				</form>
			</div>
		</div>
		<div class="row text-center" id="dont-wait-row">
			<img class="hidden-xs hidden-sm col-md-2 col-md-offset-1 img-responsive" src="img/big_three.png" />
			<div class="col-xs-12 col-md-8 text-left">
				<h2>Don't Wait</h2>
				<h4>
					The longer you wait to dispute your credit claims, the worse the damage to your credit score becomes.
				</h4>
			</div>
		</div>
	{% endif %}
	<div class="row" id="contact-row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
			<h3>Contact Us</h3>
			<h5>Feel free to call us at 1&#8209;800&#8209;215&#8209;7211, or use the contact form below to get in touch.</h5>
		</div>
		<div class="col-xs-12 col-md-8 col-md-offset-1">
			<div>&nbsp;</div>
			<form class="bs-form" action="contact.php" method="POST">
				{{ field.text({name:"name", value:current_user.name, id:"contact_name"}) }}
				{{ field.text({name:"email", type:"email", value:current_user.email, id:"contact_email"}) }}
				{{ field.textarea({name:"message", id:"contact_message"}) }}
				{{ field.submit("Send") }}
			</form>
		</div>
	</div>

{% endblock %}














