{% extends "page.twig" %}
{% import "form_fields.twig" as field %}
{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<form class="bs-form" 
				action="letter.php" 
				method="POST" 
				autocomplete="on">
			{{ 
				field.select({
								name: "form_type", 
								required: true, 
								values: [
										"request_for_validation",
										"x_deletion",
										"intent_to_file_lawsuit",
										"HIPPA_violation",
										"section_609_verification"
										]
							}) 
			}}
			<div class="field-group">
				<h3>Your Info</h3>
				{{ field.contact_info({user:current_user, include_county: true}) }}
				{{ field.text({name:"date_of_birth", type:"date"}) }}
				{{ 
					field.text({
								type: "number", 
								name:"social_security_number", 
								label: "Last Four Digits of Social Security Number"
								}) 
				}}
				{{ field.text({name:"item"}) }}
				<span id="accounts-in-question_field" class="display-none">
					{{ 
						field.select({
							name: "number_of_accounts_in_question",
							values: ["1","2","3","4","5","6","7","8","9",]
						}) 
					}}
				</span>
				<span id="account_numbers">
					<span class="display-none">
						{{ 
							field.text({
										name:"account_number", 
										label:"Account Number",
										id: "account_number_template"
										}) 
						}}
					</span>
					{{ 
						field.text({
									name:"account_number[0]", 
									label:"Account Number 1",
									}) 
					}}
					<span id="extra_accounts">
						<!-- If the user has more than one account in question
							the elements will go here -->
					</span>
				</span>
				{{ 
					field.select({
						name: "reason",
						values: [
							"This account does not belong to me",
							"I was not 30, 60, 90, or 120 days late on this account",
							"This is a duplicate account",
							"This account is closed",
							"This account is open",
							"You are not reporting the correct limit on my account",
							"You are not reporting a positive account on my credit report",
							"This collection/charge-off was paid",
							"I never authorized this inquiry",
							"The 7-year reporting period has expired on this account",
							"You are reporting incorrect addresses on my credit report",
							"You are reporting incorrect names on my credit report",
							"You are reporting the wrong birth date on my credit report",
							"You are reporting the wrong employment on my credit report",
							"I am an authorized user on this account. Please remove it"
						]
					}) 
				}}
			</div>
			<div class="field-group" id="creditor_fields">
				<h3>Collection Agency Info</h3>
				{{ field.contact_info({name:"collection_agency"}) }}
			</div>
			<input type="hidden" name="action" value="email" id="action-field"/>
			<button type="button" class="btn btn-primary submit-btn" id="email-btn">
				Generate Letter
			</button>
			{% if current_user.role == 1 %}
				<button type="button" class="btn btn-primary submit-btn" id="download-btn">
					Download Letter
				</button>
			{% endif %}
		</form>
		<div id="progress-bar-container" class="hidden">
			<div class="progress letter-generator-progress">
				<div 	class="progress-bar progress-bar-info" 
						role="progressbar" 
						aria-valuenow="0" 
						aria-valuemin="0" 
						aria-valuemax="100" 
						style="width: 0%">
			    	0%
				</div>
			</div>
			<div id="progress-message"></div>
		</div>
	</div>
</div>
<script>
	$(() => {
		$("#form_type").change(() => {
			var formName = $("#form_type").val();
			switch (formName){
				case "request_for_validation":
					$("#social_security_number").parent().removeClass("display-none");
					$("#creditor_fields").removeClass("display-none").find(".required").attr("required", "true");
					$("#accounts-in-question_field").removeClass("display-none");
					$("#county").parent().addClass("display-none");
					$("#item").parent().addClass("display-none");
					$("#reason").parent().addClass("display-none");
					break;
				case "HIPPA_violation":
					$("#social_security_number").parent().addClass("display-none");
					$("#creditor_fields")
						.removeClass("display-none")
						.find(".required").attr("required", "true");
					$("#accounts-in-question_field").removeClass("display-none");
					$("#county").parent().addClass("display-none");
					$("#item").parent().addClass("display-none");
					$("#reason").parent().addClass("display-none");
					break;
				case "intent_to_file_lawsuit":
					$("#social_security_number").parent().addClass("display-none");
					$("#creditor_fields")
						.removeClass("display-none")
						.find(".required").attr("required", "true");
					$("#accounts-in-question_field").removeClass("display-none");
					$("#county").parent().addClass("display-none");
					$("#item").parent().addClass("display-none");
					$("#reason").parent().addClass("display-none");
					break;
				case "section_609_verification":
					$("#social_security_number").parent().removeClass("display-none");
					$("#creditor_fields").addClass("display-none").find(".required").removeAttr("required");
					$("#accounts-in-question_field").removeClass("display-none");
					$("#account_numbers").addClass("display-none");
					$("#county").parent().removeClass("display-none");
					$("#item").parent().addClass("display-none");
					$("#reason").parent().addClass("display-none");
					break;
				case "x_deletion":
					$("#social_security_number").parent().removeClass("display-none");
					$("#creditor_fields").addClass("display-none").find(".required").removeAttr("required");
					$("#accounts-in-question_field").removeClass("display-none");
					$("#account_numbers").removeClass("display-none");
					$("#county").parent().addClass("display-none");
					$("#item").parent().removeClass("display-none");
					$("#reason").parent().removeClass("display-none");
					break;
			}
		});
		$("#form_type").change();//Trigger the change event to set all the required fields properly

		$("#number_of_accounts_in_question").change(function(){
			var val = ~~$("#number_of_accounts_in_question").val();
			var currentNum = $("#extra_accounts").children().length + 1;
			if (currentNum < val){
				//Add elements
				for (var i = currentNum ; i < val ; i++){
					$("#account_number_template").parent()
						.clone()
						.appendTo("#extra_accounts")
						.hide()
						.slideDown()
						.find("label")
						.html("Account Number " + (i+1))
						.parent().find("input")
						.attr("name", "account_number[" + i + "]")
						.attr("id", $(this).attr("name"))
						.attr("type", "text");
				}
			}
			else if (currentNum > val){
				//Remove elements
				console.log(currentNum - val)
				for (var i = currentNum ; i >= val ; i--){
					$("#extra_accounts").children().eq(i - 1)
						.slideUp({
							complete: function(){$(this).remove();}
						})
				}
			}
		});

		$(".submit-btn").click(function() {
			if ($(this).attr("id") === "download-btn"){
				$("#action-field").val("download");
				$("form").attr("target", "_blank");
				$("form").submit();
				return;
			}
			else{
				$("#action-field").val("email");
				$("form").removeAttr('target');
			}
			//Trigger animation
			$("#progress-bar-container").removeClass("hidden");
			var getRandomTime = function(){
				return Math.round(Math.random() * 4000 + 1000);
			}
			var keyframes = [
				{time:0, message: "Contacting Equifax...", progress: 10},
				{time:getRandomTime(), message: "Verifying...", progress: 22},
				{time:getRandomTime(), message: "Contacting Experion...", progress: 34},
				{time:getRandomTime(), message: "Verifying...", progress: 46},
				{time:getRandomTime(), message: "Contacting TransUnion...", progress: 58},
				{time:getRandomTime(), message: "Verifying...", progress: 70},
				{time:getRandomTime(), message: "Generatint Letter...", progress: 82},
				{time:getRandomTime(), message: "Finishing...", progress: 99},
				{time:getRandomTime(), done: true},
			];
			//Add random "busy" frames
			for (var i = keyframes.length - 4 ; i >= 0 ; i--){
				if (Math.random() < .2){
					keyframes.splice(i, 0, {
						time:getRandomTime(),
						message: "Busy...",
						progress: false
					});
				}
			}

			var animate = function(index){
				var frame = keyframes[index];
				if (frame.done){
					$("#progress-message").html("Complete");
					$(".progress-bar")
						.attr("aria-valuenow", 100)
						.css("width", "100%")
						.html("100%");
					$("form").submit();
					return;
				}
				if (frame.message)
					$("#progress-message").html(frame.message);
				if (frame.progress){
					$(".progress-bar")
						.attr("aria-valuenow", frame.progress)
						.css("width", frame.progress + "%")
						.html(frame.progress + "%");
				}
				setTimeout(()=>{animate(index+1);}, keyframes[index+1].time);
			}
			animate(0);
		})
	});
</script>
{% endblock %}