{% extends "page.twig" %}
{% import "form_fields.twig" as field %}
{% block content %}
<form class="bs-form col-xs-12 col-md-6 col-md-offset-3" 
		action="letter.php" 
		method="POST" 
		autocomplete="on">
	{{ field.select("form_type", "required", 
		[
		"request_for_validation",
		"HIPPA_violation",
		"intent_to_file_lawsuit",
		"section_609_verification"
		]) }}
	<div class="field-group">
		<h3>Your Info</h3>
		{{ field.contact_info({user:current_user}) }}
		{{ field.text({name:"date_of_birth", type:"date"}) }}
		{{ field.text({name:"social_security_number", required:false}) }}
		{{ field.text({name:"account_number"}) }}
	</div>
	<div class="field-group" id="creditor_fields">
		<h3>Creditor Info</h3>
		{{ field.contact_info({name:"creditor"}) }}
	</div>
	<div class="field-group display-none" id="bureau_fields">
		<h3>Credit Bureau Info</h3>
		{{ field.select("bureau", true, ["equifax", "experion", "trans_union", "custom"])}}
		<span id="custom_creditor_fields">
			{{ field.contact_info({name:"bureau"}) }}
		</span>
	</div>
	<button type="submit" name="submit" value="email" class="btn btn-primary">
		Generate Letter
	</button>
	{% if current_user.role == 1 %}
		<button type="submit" name="submit" value="download" class="btn btn-primary" formtarget="_blank">
			Download Letter
		</button>
	{% endif %}
</form>
<script>
	$(() => {
		$("#form_type").change(() => {
			var formName = $("#form_type").val();
			switch (formName){
				case "request_for_validation":
					$("#social_security_number").parent().removeClass("display-none");
					$("#creditor_fields").removeClass("display-none").find(".required").attr("required", "true");
					$("#bureau_fields").addClass("display-none").find(".required").removeAttr("required");
					break;
				case "HIPPA_violation":
					$("#social_security_number").parent().addClass("display-none");
					$("#creditor_fields").add("#bureau_fields")
						.removeClass("display-none")
						.find(".required").attr("required", "true");
					break;
				case "intent_to_file_lawsuit":
					$("#social_security_number").parent().addClass("display-none");
					$("#creditor_fields").add("#bureau_fields")
						.removeClass("display-none")
						.find(".required").attr("required", "true");
					break;
				case "section_609_verification":
					$("#social_security_number").parent().addClass("display-none");
					$("#creditor_fields").addClass("display-none").find(".required").removeAttr("required");
					$("#bureau_fields").removeClass("display-none").find(".required").attr("required", "true");
					break;
			}
		});
		$("#form_type").change();//Trigger the change event to set all the required fields properly

		$("#bureau").change(() => {
			var bureau = $("#bureau").val();
			if (bureau === "custom"){
				$("#custom_creditor_fields").find("input, select").val("");
				/*
				$("#custom_creditor_fields").children().hide();
				$("#custom_creditor_fields").slideDown({
					complete: () => {
						$("#custom_creditor_fields").children().fadeIn();
					}
				});
				*/
			}
			else{
				var bureau_info;
				switch (bureau){
					case "equifax":
						bureau_info = [
							"Equifax Information Services LLC",
							"P.O. Box 740256",
							"Atlanta",
							"GA",
							"30374"
						];
						break;
					case "experion":
						bureau_info = [
							"Experian",
							"P.O. Box 4500",
							"Allen",
							"TX",
							"75013"
						];
						break;
					case "trans_union":
						bureau_info = [
							"TransUnion LLC -- Consumer Dispute Center",
							"P.O. Box 2000",
							"Chester",
							"PA",
							"19022"
						];
						break;
				}
				$("#custom_creditor_fields").find("input, select").each((i, element) => {
					$(element).val(bureau_info[i]);
				})
				/*
				$("#custom_creditor_fields").children().fadeOut({
					complete: () => {
						$("#custom_creditor_fields").slideUp();
					}
				});
				*/
			}
		});
		$("#bureau").change();
	});
</script>
{% endblock %}